@inherits LayoutComponentBase
@using Data
@inject NavigationManager Navigation
@inject ILocalStorageService storageService
@inject UsersComp usc
<PageTitle>AppUsingBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <b @onclick = "ClickingIn">@usc.currentUser?.Name</b>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void ClickingIn()
    {
        Navigation.NavigateTo("/main");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            User newUser = await storageService.GetAsync<User>("Autho");
            if(newUser is not null)
            {
                usc.currentUser = newUser;
                StateHasChanged();
            }
        }
    }
}